.post {
    display: flex;
    flex-direction: column;
}

.MainPost {   
    border: 1px solid #b5bdc0;
    border-radius: 3px;
    margin: 2px;
    padding: 5px;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-reply-username {
    color: #424242;
    margin-left: 10px;
    font-size: 14px;
}

.post-reply-date {
    color: #6d6b6b;
    font-size: 10px;
    margin-top: 4px;
    margin-left: 10px;
}

.post-body {
    margin-left: 40px;
    margin-top: 5px;
    font-size: 14px;
}

.post-footer {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 5px;
    align-items: center;
}

.post-reply-btn {
    border: none; 
    outline: none;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    color: #546e7a;
}

.post-reply-btn svg {    
    padding: 0;
    align-items: center;
    line-height: 0;
    fill: #546e7a;    
}

.post-reply-votes {
    line-height: 0;    
    margin-top: -5px;
    vertical-align: middle;
    color: #546e7a;
}

.reply-container {
    margin-top: 5px;
    margin-left: 40px;        
}

.post-reply-form {
    margin-bottom: 10px;
}
